+{% extends "layout.html" %}

{% block content %}
<div class="container">
  <h1 class="display-5 fw-bold" style="color: white; padding-top: 100px;">Ingrese URL usuario</h1>
  <form id="scraping-form">
      <div class="input-group flex-nowrap move-down" style="padding-top: 50px;">
          <span class="input-group-text" id="addon-wrapping">X</span>
          <input type="text" class="form-control" id="username" name="username" placeholder="https://x.com/XusShiv" aria-label="Username" aria-describedby="addon-wrapping">
          <button class="btn btn-primary btn-lg" type="submit">Iniciar</button>
      </div>
  </form>
  <div class="container" style="padding-top: 100px">
    <img src="static/css/galeria/image.png" class="image" alt="Descripción de la imagen" style="display: block; margin: 0 auto;">
  </div>
</div>

<script>
  document.getElementById('scraping-form').addEventListener('submit', function(event) {
      event.preventDefault();
      document.body.innerHTML = ''; // Limpiar la página
            document.body.innerHTML = `
                <div class="container">
                    <h1 class="display-5 fw-bold" style="color: white; padding-top: 200px;">Cargando...</h1>
                    <div class="spinner-border text-primary" role="status">
                        <span class="sr-only">Cargando...</span>
                    </div>
                </div>
            `; 
            
      const formData = new FormData(this);
      fetch('/process_username', {
          method: 'POST',
          body: formData
      })
      .then(response => response.json())
      .then(data => {
          if (data.success) {
              window.location.href = '/result?data=' + encodeURIComponent(JSON.stringify(data.result));
              console.log(data.result);
          } else {
              alert('Error: ' + data.error);
          }
      });
  });
</script>
{% endblock %}
